/* CSS for jQuery Orbit Plugin 1.2.3
 * www.ZURB.com/playground
 * Copyright 2010, ZURB
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 

/* PUT IN YOUR SLIDER ID AND SIZE TO MAKE LOAD BEAUTIFULLY
   ================================================== */
/* line 14, ../../scss/modules/orbit-1.2.3.scss */
#pov-container {
  width: 806px;
  height: 281px;
  background: black url("../../images/global/orbit/loading.gif") no-repeat center center;
  overflow: hidden;
}

/* line 19, ../../scss/modules/orbit-1.2.3.scss */
#pov-container > img,
#pov-container > div,
#pov-container > a {
  display: none;
}

/* CONTAINER
   ================================================== */
/* line 29, ../../scss/modules/orbit-1.2.3.scss */
div.orbit-wrapper {
  width: 1px;
  height: 1px;
  position: relative;
}

/* line 34, ../../scss/modules/orbit-1.2.3.scss */
div.orbit {
  width: 1px;
  height: 1px;
  position: relative;
  overflow: hidden;
}

/* line 40, ../../scss/modules/orbit-1.2.3.scss */
div.orbit > img {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

/* line 46, ../../scss/modules/orbit-1.2.3.scss */
div.orbit > a {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 0;
  display: none;
}

/* line 54, ../../scss/modules/orbit-1.2.3.scss */
.orbit > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Note: If your slider only uses content or anchors, you're going to want to put the width and height declarations on the ".orbit>div" and "div.orbit>a" tags in addition to just the .orbit-wrapper */
/* TIMER
   ================================================== */
/* line 67, ../../scss/modules/orbit-1.2.3.scss */
div.timer {
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: .6;
  cursor: pointer;
  z-index: 1001;
}

/* line 78, ../../scss/modules/orbit-1.2.3.scss */
span.rotator {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: -20px;
  background: url("../../images/global/orbit/rotator-black.png") no-repeat;
  z-index: 3;
}

/* line 88, ../../scss/modules/orbit-1.2.3.scss */
span.mask {
  display: block;
  width: 20px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
}

/* line 98, ../../scss/modules/orbit-1.2.3.scss */
span.rotator.move {
  left: 0;
}

/* line 101, ../../scss/modules/orbit-1.2.3.scss */
span.mask.move {
  width: 40px;
  left: 0;
  background: url("../../images/global/orbit/timer-black.png") repeat 0 0;
}

/* line 106, ../../scss/modules/orbit-1.2.3.scss */
span.pause {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../images/global/orbit/pause-black.png") no-repeat;
  z-index: 4;
  opacity: 0;
}

/* line 117, ../../scss/modules/orbit-1.2.3.scss */
span.pause.active {
  background: url("../../images/global/orbit/pause-black.png") no-repeat 0 -40px;
}

/* line 120, ../../scss/modules/orbit-1.2.3.scss */
div.timer:hover span.pause,
span.pause.active {
  opacity: 1;
}

/* CAPTIONS
   ================================================== */
/* line 128, ../../scss/modules/orbit-1.2.3.scss */
.orbit-caption {
  display: none;
  font-family: "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

/* line 132, ../../scss/modules/orbit-1.2.3.scss */
.orbit-wrapper .orbit-caption {
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  color: #fff;
  text-align: center;
  padding: 7px 0;
  font-size: 13px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

/* DIRECTIONAL NAV
   ================================================== */
/* line 149, ../../scss/modules/orbit-1.2.3.scss */
div.slider-nav {
  display: block;
}

/* line 152, ../../scss/modules/orbit-1.2.3.scss */
div.slider-nav span {
  width: 78px;
  height: 100px;
  text-indent: -9999px;
  position: absolute;
  z-index: 1000;
  top: 50%;
  margin-top: -50px;
  cursor: pointer;
}

/* line 162, ../../scss/modules/orbit-1.2.3.scss */
div.slider-nav span.right {
  background: url("../../images/global/orbit/right-arrow.png");
  right: 0;
}

/* line 166, ../../scss/modules/orbit-1.2.3.scss */
div.slider-nav span.left {
  background: url("../../images/global/orbit/left-arrow.png");
  left: 0;
}

/* BULLET NAV
   ================================================== */
/* line 173, ../../scss/modules/orbit-1.2.3.scss */
.orbit-bullets {
  position: absolute;
  z-index: 1000;
  list-style: none;
  bottom: -40px;
  left: 50%;
  margin-left: -50px;
  padding: 0;
}

/* line 182, ../../scss/modules/orbit-1.2.3.scss */
.orbit-bullets li {
  float: left;
  margin-left: 5px;
  cursor: pointer;
  color: #999;
  text-indent: -9999px;
  background: url("../../images/global/orbit/bullets.jpg") no-repeat 4px 0;
  width: 13px;
  height: 12px;
  overflow: hidden;
}

/* line 193, ../../scss/modules/orbit-1.2.3.scss */
.orbit-bullets li.active {
  color: #222;
  background-position: -8px 0;
}

/* line 197, ../../scss/modules/orbit-1.2.3.scss */
.orbit-bullets li.has-thumb {
  background: none;
  width: 100px;
  height: 75px;
}

/* line 202, ../../scss/modules/orbit-1.2.3.scss */
.orbit-bullets li.active.has-thumb {
  background-position: 0 0;
  border-top: 2px solid #000;
}
