<div class="page-about">

	<div class="l-summary">Feel free to contact me via LinkedIn or by email for any possible positions available. I am currently on the market as a front-end developer for full-time remote positions. I am only entertaining remote positions at this time. <p>Thank you.</p></div>


	<div class="content font-verdana">
		<img class="profile-img" src="Content/images/global/profile.jpg" align="left"/>
		<div class="subtitle font-arial-black">Outside of work</div>
		<p>When I'm not banging on the keyboard coding the next big app for clients or studying to take my skillset to the next level, I'm pushing up the ranks as a volunteer with Red Cross preparing for the next disaster. As an island boy and mountain man, you'll often find me seeking refuge in the islands or in the mountains, making native jewelry and dream catchers or just simply relaxing with a book on survival.</p>  

		<div class="subtitle font-arial-black">Where it began</div>
		<p>I started my career as a 3D and visual effects animator with animations on the Grammy Awards, American Idol, Vegas billboards, and video game cinematics (my 15 minutes of fame). Having the knack for programming and logic I evolved into an applications developer to meet the need of the company I was working for. Building large scale desktop and web applications in Macromedia's Director, Adobe Flash AS3, and finally Javascript.</p>
 		
		<div class="subtitle font-arial-black">Not your average developer</div>
		<p>I'm not the typical developer, I come with more than 15 years of practical, professional, development experience and 10 years design experience from working solo to large collaborative teams in small start ups to large production houses. Learning and adapting to the needs of the company as those needs arise. My greatest skill, is the ability to adapt. Nearly every coding language and library and framework I've learned were on the spot, baptism by fire to meet the demand for what needs to be done. The key to a successful developer is staying motivated and being able to adapt to the times and the needs of the job. </p>
		
		<div class="subtitle font-arial-black">Being remote</div>
		<p>I've worked remotely for about 10 years so I have a proven record of a great work ethic. 8 of those years I was working for a company in North Carolina while living in the Philippines.The key to working remote is communication and to never stop sharing and learning. </p>
		 
		<div class="subtitle font-arial-black">What have you done?</div>
		<p>I have tremendous experience working on a countless variety of solutions including shopping carts, schedulers, admin sites, CMS, games, training tools, presentations, sweepstakes, promotions, product engagement applications, and kiosk demonstrations for conventions. </p>

		<p>I have an outstanding and unique experience creating innovative single page web applications from the ground up with RESTful interface using scrum methodology. I have refactored and even rebuilt large scale applications. I've had to adapt to new languages and tech on the fly to come up with time critical solutions. I'm often the go to guy when pressure is on to meet a deadline, troubleshoot an issue, or tackle a unique challenge.</p>

		<p>Over my colorful career I've played a key role in contributing to companies like Walmart, FX Networks, Simpsons World, AACN, Kraft, Thomas & Friends, Hot Wheels, Axe, Crystal Light, Suave, Tresemme, and dozens of Pharma companies. </p>
		 
		<div class="subtitle font-arial-black">There's more to this job than just code.</div>
		<p>I am also familiar with the technical specifications for designing prototypes, interactive guides, and providing estimates. I've taken on many challenges including reading consumer and client feedbacks and coming up with and presenting solutions to address those issues or concerns. Researching related ideas to compare the competition, features, and costs; as well as researching technologies for efficient feature implementation. I have been a mentor bringing a junior developer to mid-developer. I am a great collaborator and team player coordinating with client, managers, designers, and back end teams to see to a successful implementation. I have even stepped in as the role of mediator and motivator to keep the morale of the team together in difficult times.</p> 

		<div class="subtitle font-arial-black">Can I trust you?</div>
		<p>From the point of character, I have integrity, you will find I am humble and transparent. I offer many years of development experience, but I'm open minded and always willing and eager to find ways to evolve myself and my skills as well as helping others. I'm honest with what I am capable of and will always be forthcoming and timely in regards to obstacles and challenges, particularly those that could affect the timeline.</p>

		

		<div class="title font-arial-black">Anxiety - A word on the Technical Interview</div>
		<p>We all have our weaknesses, I deal with performance, testing anxiety. In this state of anxiety I struggle with maintaining a clear head for logical thinking, remembering keywords, syntax, and troubleshooting during a tech interview environment. I kindly ask as a potential employer if I may opt for an alternative to the traditional tech interview to be entertained. I'm more than happy to discuss experiences I've had, provide any code for the demos here on my website and talk about those and the decisions I made there. I am also more than happy to take on some homework for a later discussion on my approach on the solution. I am also willing to take on a short contract of work to demonstrate my knowledge. Please understand this request is not because I am above being held to scrutiny but based off experience where I know my strengths and weaknesses.</p>

		<p>I thank you for your support and understanding in this matter. <br><span class="font-arial-black" style="font-size: 16px;">Now let's get to work!</span></p>

	</div>


	<div class="testionials__item">
		<div class="testionials__item__quote-icon"></div>							
		<div class="testionials__item__copy">
			<p>Thom has been a friend and mentor to me ever since I started at Lunchbox. He showed me the ropes, took me under his wing and helped me get acclimated with my new environment. He did this not because anyone told him to or because it was his job to do so, but because that's the type of person he is. When Thom is given ownership of a project, consider it done, he will manage expectations, delegate resources and make sure it's completed on time. He has a can-do attitude, knows how to work well with people and loves a good challenge. His work in the Innovations Department at Lunchbox has been nothing short of excellent. Thom would be an invaluable asset on any team.</p></div>
		<div class="testionials__item__author">
			<div class="testionials__item__author__name"><span class="hvr-pop"><a href="https://www.linkedin.com/in/zafarmehboob/" target="_blank">Zafar Mehboob</a></span></div>
			<div class="testionials__item__author__title">Web Developer at Lunchbox</div>
		</div>
	</div>

	<div class="backToTop" style="text-align:center;"><span class="anchor-trigger" data-anchor="top">Back to top.</span></div>
</div>