<div class="page-design">

	<div class="summary">
I have working knowledge of composition, design, motion, eye flow, and color theory. My designs pay careful attention to the needs of the client, the target demographic, ease of use, and the flow of the application targeting the purpose of the application. 
<br><br>Along with graphic design, I have been designing UI layouts and implementing those designs from conception to completion  for 10+ years. Aside from the countless interfaces I've designed I have also demonstrated my graphic design skills in 2D and 3D, animation, and print.  I've composed multiple video productions with graphics complementing live video and also created full motion graphics presentations. 

		<ul class="ul-block">
			<li><span class="anchor-trigger hvr-pop" data-anchor="interface"><strong>Interface Designs</strong></span> - <span class="italic">All interface designs presented here that went into production were also developed my me</span>. The designs include desktop and web applications, presentations, training tools, kiosk interfaces for convention displays, and stylistic designs.</li>
			<li><span class="anchor-trigger hvr-pop" data-anchor="print"><strong>Print Designs</strong></span> - Printable designs including logos, menus, business cards, brochures, and banners.</li>
		</ul>

 </div>

	<!-- interface container -->

	<div class="section-title font-arial-black" style="margin-top: -41px;"  name="interface">Interface Designs</div>
	<div class="lg-constrain">
	    <div class="interface-container lightgallery">

	        <a href="Content/images/design/interface/lg/shambala-interface.jpg">
	            <img src="Content/images/design/interface/th/shambala-interface.jpg"/>
	        </a>


	        <a href="Content/images/design/interface/lg/NEO_interface_d.jpg">
	            <img src="Content/images/design/interface/th/NEO_interface_d.jpg"/>
	        </a>

	        <a href="Content/images/design/interface/lg/unc_interface3.jpg">
	            <img src="Content/images/design/interface/th/unc_interface3.jpg"/>
	        </a>
	   
	        <a href="Content/images/design/interface/lg/clearLogic_iSki.jpg">
	            <img src="Content/images/design/interface/th/clearLogic_iSki.jpg"/>
	        </a>

	        <a href="Content/images/design/interface/lg/childs-academy.jpg">
	            <img src="Content/images/design/interface/th/childs-academy.jpg"/>
	        </a>
	  		
	  		<a href="Content/images/design/interface/lg/interfaceMock.jpg">
	            <img src="Content/images/design/interface/th/interfaceMock.jpg"/>
	        </a>

	        <a href="Content/images/design/interface/lg/interfaceWeb_2.jpg">
	            <img src="Content/images/design/interface/th/interfaceWeb_2.jpg"/>
	        </a>

	        <a href="Content/images/design/interface/lg/smart-media-designs.jpg">
	            <img src="Content/images/design/interface/th/smart-media-designs.jpg"/>
	        </a>

	        <a href="Content/images/design/interface/lg/smd_template2.jpg">
	            <img src="Content/images/design/interface/th/smd_template2.jpg"/>
	        </a>

	        <a href="Content/images/design/interface/lg/smd_template3.jpg">
	            <img src="Content/images/design/interface/th/smd_template3.jpg"/>
	        </a>

	        <a href="Content/images/design/interface/lg/smd_template4.jpg">
	            <img src="Content/images/design/interface/th/smd_template4.jpg"/>
	        </a>

	        <a href="Content/images/design/interface/lg/Alchemy-website-1.jpg">
	            <img src="Content/images/design/interface/th/Alchemy-website-1.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/Alchemy-website-2.jpg">
	            <img src="Content/images/design/interface/th/Alchemy-website-2.jpg"/>
	        </a>
	  

	        <a href="Content/images/design/interface/lg/boracayyoga.jpg">
	            <img src="Content/images/design/interface/th/boracayyoga.jpg"/>
	        </a>

	        <a href="Content/images/design/interface/lg/kiosk3.jpg">
	            <img src="Content/images/design/interface/th/kiosk3.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/ABC_Mock1b_portal.jpg">
	            <img src="Content/images/design/interface/th/ABC_Mock1b_portal.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/aggrenox.jpg">
	            <img src="Content/images/design/interface/th/aggrenox.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/alphamedica.jpg">
	            <img src="Content/images/design/interface/th/alphamedica.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/Angiomax_1.jpg">
	            <img src="Content/images/design/interface/th/Angiomax_1.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/Astellas_interface_1a.jpg">
	            <img src="Content/images/design/interface/th/Astellas_interface_1a.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/AtHomes_Mock2.jpg">
	            <img src="Content/images/design/interface/th/AtHomes_Mock2.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/beis.jpg">
	            <img src="Content/images/design/interface/th/beis.jpg"/>
	        </a>

	        <a href="Content/images/design/interface/lg/botox(2).jpg">
	            <img src="Content/images/design/interface/th/botox(2).jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/Botox.jpg">
	            <img src="Content/images/design/interface/th/Botox.jpg"/>
	        </a>
	  

	        <a href="Content/images/design/interface/lg/clearLogic_mock.jpg">
	            <img src="Content/images/design/interface/th/clearLogic_mock.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/DDC.jpg">
	            <img src="Content/images/design/interface/th/DDC.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/eisai.jpg">
	            <img src="Content/images/design/interface/th/eisai.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/FDP_Interface_1.jpg">
	            <img src="Content/images/design/interface/th/FDP_Interface_1.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/fit-moms.jpg">
	            <img src="Content/images/design/interface/th/fit-moms.jpg"/>
	        </a>

	        <a href="Content/images/design/interface/lg/Interface1b.jpg">
	            <img src="Content/images/design/interface/th/Interface1b.jpg"/>
	        </a>

	  
	        <a href="Content/images/design/interface/lg/iPad_nuProducts.jpg">
	            <img src="Content/images/design/interface/th/iPad_nuProducts.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/javelin.jpg">
	            <img src="Content/images/design/interface/th/javelin.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/kiosk1.jpg">
	            <img src="Content/images/design/interface/th/kiosk1.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/kiosk2.jpg">
	            <img src="Content/images/design/interface/th/kiosk2.jpg"/>
	        </a>

	        <a href="Content/images/design/interface/lg/lamayag.jpg">
	            <img src="Content/images/design/interface/th/lamayag.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/medtronic.jpg">
	            <img src="Content/images/design/interface/th/medtronic.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/mission-control.jpg">
	            <img src="Content/images/design/interface/th/mission-control.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/MRI_Improvements_MainMenu2.jpg">
	            <img src="Content/images/design/interface/th/MRI_Improvements_MainMenu2.jpg"/>
	        </a>

	  
	        <a href="Content/images/design/interface/lg/numedia.jpg">
	            <img src="Content/images/design/interface/th/numedia.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/numedia-2.jpg">
	            <img src="Content/images/design/interface/th/numedia-2.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/PE_Interface.jpg">
	            <img src="Content/images/design/interface/th/PE_Interface.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/pinas.jpg">
	            <img src="Content/images/design/interface/th/pinas.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/portal(2).jpg">
	            <img src="Content/images/design/interface/th/portal(2).jpg"/>
	        </a>
	    
	        <a href="Content/images/design/interface/lg/reliance.jpg">
	            <img src="Content/images/design/interface/th/reliance.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/rgaringalao.jpg">
	            <img src="Content/images/design/interface/th/rgaringalao.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/shoutout.jpg">
	            <img src="Content/images/design/interface/th/shoutout.jpg"/>
	        </a>
	   		
	   		<a href="Content/images/design/interface/lg/abbott2.jpg">
	            <img src="Content/images/design/interface/th/abbott2.jpg"/>
	        </a>
	        
	        <a href="Content/images/design/interface/lg/slide-sorter.jpg">
	            <img src="Content/images/design/interface/th/slide-sorter.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/tdupp1.jpg">
	            <img src="Content/images/design/interface/th/tdupp1.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/tdupp2.jpg">
	            <img src="Content/images/design/interface/th/tdupp2.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/tdupp3.jpg">
	            <img src="Content/images/design/interface/th/tdupp3.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/tdupp4.jpg">
	            <img src="Content/images/design/interface/th/tdupp4.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/thyroid.jpg">
	            <img src="Content/images/design/interface/th/thyroid.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/interface/lg/ttg.jpg">
	            <img src="Content/images/design/interface/th/ttg.jpg"/>
	        </a>

	        <a href="Content/images/design/interface/lg/unc_interface2.jpg">
	            <img src="Content/images/design/interface/th/unc_interface2.jpg"/>
	        </a>
	   
	        <a href="Content/images/design/interface/lg/YanninksLogo_lg.jpg">
	            <img src="Content/images/design/interface/th/YanninksLogo_lg.jpg"/>
	        </a>

	        
	  
	        
	    </div>
	</div>


    <div class="section-title font-arial-black" name="print">Print Designs
    	<div class="backToTop font-arial"><span class="anchor-trigger" data-anchor="top">Back to top.</span></div>
    </div>

    <!--  print container -->
    <div class="lg-constrain bottom-container">
	    <div class="print-container lightgallery">


	        <a href="Content/images/design/print/lg/graphic-design-brosure-inner.jpg">
	            <img src="Content/images/design/print/th/graphic-design-brosure-inner.jpg"/>
	        </a>
	  
	        <a href="Content/images/design/print/lg/graphic-design-brosure-outer.jpg">
	            <img src="Content/images/design/print/th/graphic-design-brosure-outer.jpg"/>
	        </a>

	        <a href="Content/images/design/print/lg/banner_preview.jpg">
	            <img src="Content/images/design/print/th/banner_preview.jpg"/>
	        </a>

	        <a href="Content/images/design/print/lg/BomBomMenu.jpg">
	            <img src="Content/images/design/print/th/BomBomMenu.jpg"/>
	        </a>

	        <a href="Content/images/design/print/lg/BuisnessCard1.jpg">
	            <img src="Content/images/design/print/th/BuisnessCard1.jpg"/>
	        </a>

	        <a href="Content/images/design/print/lg/BuisnessCard2.jpg">
	            <img src="Content/images/design/print/th/BuisnessCard2.jpg"/>
	        </a>

	        <a href="Content/images/design/print/lg/calendar.jpg">
	            <img src="Content/images/design/print/th/calendar.jpg"/>
	        </a>

	        <a href="Content/images/design/print/lg/footzees.jpg">
	            <img src="Content/images/design/print/th/footzees.jpg"/>
	        </a>

	        <a href="Content/images/design/print/lg/NMI-business-cards.jpg">
	            <img src="Content/images/design/print/th/NMI-business-cards.jpg"/>
	        </a>

	        <a href="Content/images/design/print/lg/pinas-menujpg.jpg">
	            <img src="Content/images/design/print/th/pinas-menujpg.jpg"/>
	        </a>

	        <a href="Content/images/design/print/lg/preview.jpg">
	            <img src="Content/images/design/print/th/preview.jpg"/>
	        </a>

	        <a href="Content/images/design/print/lg/Preview_FishDoctor.jpg">
	            <img src="Content/images/design/print/th/Preview_FishDoctor.jpg"/>
	        </a>

	        <a href="Content/images/design/print/lg/sticker(2).jpg">
	            <img src="Content/images/design/print/th/sticker(2).jpg"/>
	        </a>

	        <a href="Content/images/design/print/lg/Untitled-1.jpg">
	            <img src="Content/images/design/print/th/Untitled-1.jpg"/>
	        </a>

	        <a href="Content/images/design/print/lg/allstars-1.jpg">
	            <img src="Content/images/design/print/th/allstars-1.jpg"/>
	        </a>

	        <a href="Content/images/design/print/lg/bacolod-chix.jpg">
	            <img src="Content/images/design/print/th/bacolod-chix.jpg"/>
	        </a>

		</div>
	</div>

	<div class="testionial-item">
		<div class="quote-icon"></div>							
		<div class="copy">
			<p>I have had the pleasure of working with Thom for over 9 years and he is a great asset to any team. He is a strong developer and equally as strong in his artwork skills. He has created designs and software for some of the top pharma companies in the world as well as having 3D animations and motion graphics pieces show up on numerous media pieces from TV to video games. He is an accomplished professional and someone that can always be counted on for quality work. He is always hungry to learn new technologies and is quick to implement them into new projects. Thom is very talented and will boost the quality of work for any company he works for.</p></div>
		<div class="author">
			<div class="name"><span class="hvr-pop"><a href="https://www.linkedin.com/in/jarrodamcdevitt/" target="_blank">Jarrod McDevitt</a></span></div>
			<div class="title">Director of Animation at NuMedia Innovations Inc.<br> Digital Artist at Ballistic Pixel Lab</div>
		</div>
	</div>

	<div class="backToTop" style="text-align:center;"><span class="anchor-trigger" data-anchor="top">Back to top.</span></div>

</div>
