<div class="page-index">
	<div class="l-summary">15+ years professional experience in design and development (5 years in JS front end dev). Focusing on rapid development producing clean, readable, and efficient code with attention to best practices. Building modular architectures to ensure maintainable, reusable, scalable applications. My background in design combined with my extensive development experience give me a unique skill set that would be an asset to any development team.</div>


	<!-- portfolio examples -->	
	<div class="container-fluid">
		<div class="row">
			<div class="image-col col-sm-4">
				<div class="image-col__title font-arial-black">Firestarter<p class="image-col__title__subtitle"><br>Solo Front End Developer</p> </div>
				<div class="image-col__image"><span class="hvr-pop"><a href="#development;anchor=firestarter"><img src="Content/images/global/firestarter.jpg"/></a></span></div>
			</div>
			
			<div class="image-col col-sm-4">
				<div class="image-col__title font-arial-black">AACN<p class="image-col__title__subtitle"><br>Collaboration | Module Integration</p></div>
				<div class="image-col__image"><span class="hvr-pop"><a href="#development;anchor=aacn"><img src="Content/images/global/aacn.jpg"/></a></span></div>
			</div>
			
			<div class="image-col col-sm-4">
				<div class="image-col__title font-arial-black">Blue<p class="image-col__title__subtitle"><br>Custom Framework</p></div>
				<div class="image-col__image"><span class="hvr-pop"><a href="#development;anchor=blue"><img src="Content/images/global/blue-flow.jpg"/></a></span></div>				
			</div>
		</div>

		<div class="row">
			<div class="see-more-link font-verdana"><span class="hvr-pop"><a href="#development;anchor=top">More development examples available here!</a></span></div>
		</div>

	</div>

	<!-- designs -->
	<div class="designs">
	    <div class="lg-constrain">
		    <div class="design-container lightgallery">

		        <a href="Content/images/design/composites/lg/comp-4.jpg">
		            <img src="Content/images/design/composites/th/comp-4.jpg"/>
		        </a>

		        <a href="Content/images/design/composites/lg/comp-2.jpg">
		            <img src="Content/images/design/composites/th/comp-2.jpg"/>
		        </a>

		        <a href="Content/images/design/composites/lg/comp-1.jpg">
		            <img src="Content/images/design/composites/th/comp-1.jpg"/>
		        </a>
   				
   				<a href="Content/images/design/composites/lg/comp-3.jpg">
		            <img src="Content/images/design/composites/th/comp-3.jpg"/>
		        </a>
		    </div>
		</div>
		<div class="see-more-link font-verdana"><span class="hvr-pop"><a href="#design;anchor=top">More designs here!</a></span></div>
	</div>
		



	<!-- testimonials -->
	<div class="testimonials">
		<div class="testionials__item">
			<div class="testionials__item__quote-icon"></div>							
			<div class="testionials__item__copy">
				<p>I've had the opportunity to work with Thom at two agencies, Lunchbox and Blitz. Thom is and always has been, the go-to-guy to get serious front end work done. He needs no oversight, is very pro-active, and usually has the problem solved much faster than expected. He has been responsible for many projects' success and is many times, the unspoken factor. </p>
				<p>Outside of work, he's one of the nicest, most giving and genuine people you will meet. It's because of that, he is such a great asset to any teams' chemistry and will always hit the ground running on day one.</p>
				<p>Please reach out to me with any questions about my recommendation or my years working with Thom, thanks!</p>
			</div>
			<div class="testionials__item__author">
				<div class="testionials__item__author__name"><span class="hvr-pop"><a href="https://www.linkedin.com/in/malikjones/" target="_blank">Malik Jones</a></span></div>
				<div class="testionials__item__author__testionials__item__author__title">Associate Director of Technology at Blitz<br>Associate Director of Technology at Lunchbox</div>
			</div>
		</div>


		<div class="testionials__item">
			<div class="testionials__item__quote-icon"></div>							
			<div class="testionials__item__copy">
				<p>I have had the pleasure of working with Thom with couple different companies and he is exactly what I look for in a great developer. He has excellent problem solving skills and a passion for the craft. He can quickly get up to speed on new technologies and begin applying that knowledge to the company’s most challenging projects. </p>
				<p>The best example was working on a large multi-million dollar Sitecore project for a client. He was able to quickly join the team and immediately was able to figure out a templated solution that the team was struggling to solve a variety of problems across the site. Thom’s excellent communication, teamwork and problem solving skills often shines through when working with the internal teams and clients alike. </p>
				<p>Thom is a great guy, a great developer and he brings a great attitude to any team.</p></div>
			<div class="testionials__item__author">
				<div class="testionials__item__author__name"><span class="hvr-pop"><a href="https://www.linkedin.com/in/bradatwater/" target="_blank">Brad Atwater</a></span></div>
				<div class="testionials__item__author__title">Sr. Director of Technology at Blitz<br>Director of Technology at Lunchbox</div>
			</div>
		</div>

		<div class="testionials__item">
			<div class="testionials__item__quote-icon"></div>							
			<div class="testionials__item__copy">
				<p>Thom is a constant professional with an unbelievable work ethic and in-depth front-end knowledge of scalable web application development. He has helped LBOX, LLC develop many successful flagship products in the past years. He could find solutions to complex challenging problems and was always aware of the bigger picture and how individual items in the product affected the whole. His pragmatic approach along with a strong understanding of cross-device usability design has made him an invaluable source for the team.</p></div>
			<div class="testionials__item__author">
				<div class="testionials__item__author__name"><span class="hvr-pop"><a href="https://www.linkedin.com/in/lingpossible/" target="_blank">Ling Lee</a></span></div>
				<div class="testionials__item__author__title">Sr. Marketing Manager, Analytics and Insights at Lunchbox</div>
			</div>
		</div>

	</div>

	<div class="see-more-link font-verdana"><span class="hvr-pop"><a href="#testimonials;anchor=top">See more testimonials here!</a></span></div>


	<div class="backToTop" style="text-align:center;"><span class="anchor-trigger" data-anchor="top">Back to top.</span></div>

</div>

