<div class="page-testimonials">

	<div class="summary">I think a lot can be said for what people would voluntarily say about you,<br>because they didn't have to. <br><br>
		These are testmonials, found on my LinkedIn page, kindly posted by supervisors, managers, and co-workers. They paint a picture of strong development skills, strong work ethic, and positive character.<br><br>
		<span class="italic">Contact information may also be provided as references.</span> </div>

	<div class="testionial-item">
		<div class="quote-icon"></div>							
		<div class="copy">
			<p>I've had the opportunity to work with Thom at two agencies, Lunchbox and Blitz. Thom is and always has been, the go-to-guy to get serious front end work done. He needs no oversight, is very pro-active, and usually has the problem solved much faster than expected. He has been responsible for many projects' success and is many times, the unspoken factor. </p>
			<p>Outside of work, he's one of the nicest, most giving and genuine people you will meet. It's because of that, he is such a great asset to any teams' chemistry and will always hit the ground running on day one.</p>
			<p>Please reach out to me with any questions about my recommendation or my years working with Thom, thanks!</p>
		</div>
		<div class="author">
			<div class="name"><span class="hvr-pop"><a href="https://www.linkedin.com/in/malikjones/" target="_blank">Malik Jones</a></span></div>
			<div class="title">Associate Director of Technology at Blitz<br>Associate Director of Technology at Lunchbox</div>
		</div>
	</div>


	<div class="testionial-item">
		<div class="quote-icon"></div>							
		<div class="copy">
			<p>I have had the pleasure of working with Thom with couple different companies and he is exactly what I look for in a great developer. He has excellent problem solving skills and a passion for the craft. He can quickly get up to speed on new technologies and begin applying that knowledge to the company’s most challenging projects. </p>
			<p>The best example was working on a large multi-million dollar Sitecore project for a client. He was able to quickly join the team and immediately was able to figure out a templated solution that the team was struggling to solve a variety of problems across the site. Thom’s excellent communication, teamwork and problem solving skills often shines through when working with the internal teams and clients alike. </p>
			<p>Thom is a great guy, a great developer and he brings a great attitude to any team.</p></div>
		<div class="author">
			<div class="name"><span class="hvr-pop"><a href="https://www.linkedin.com/in/bradatwater/" target="_blank">Brad Atwater</a></span></div>
			<div class="title">Sr. Director of Technology at Blitz<br>Director of Technology at Lunchbox</div>
		</div>
	</div>


	<div class="testionial-item">
		<div class="quote-icon"></div>							
		<div class="copy">
			<p>Give Thom a task, any task. Change the task requirements mid-stream. Forget it, change the requirements back to what they were. Now look at Thom. Thom has it covered. Be like Thom. He's getting it done to spec, on time, and bug free. Clients are stoked. His producer is stoked. The QA team is stoked. Everyone is stoked! Thom has proven once again he's a valuable asset to any project. Good going Thom!</p></div>
		<div class="author">
			<div class="name"><span class="hvr-pop"><a href="https://www.linkedin.com/in/aubreytaylor/" target="_blank">Aubrey Taylor</a></span></div>
			<div class="title">Associate Tech Director at Blitz</div>
		</div>
	</div>


	<div class="testionial-item">
		<div class="quote-icon"></div>							
		<div class="copy">
			<p>Thom was an invaluable part of the FX team at BLITZ due to his work ethic, dependability and easy going personality. As his Tech Lead on all our FX projects for the past 9+ months I often had to throw new languages or libraries at Thom and he consistently accepted those challenges head on, delivering outstanding results each time. Due to his excellent communication and quality work he required very minimal oversight to get the job done right. His humbleness and positive attitude helped our entire team produce better work and impress our clients.</p></div>
		<div class="author">
			<div class="name"><span class="hvr-pop"><a href="https://www.linkedin.com/in/michael-tully-81ab9b3/" target="_blank">Michael Tully</a></span></div>
			<div class="title">Associate Director of Technology at Blitz</div>
		</div>
	</div>


	<div class="testionial-item">
		<div class="quote-icon"></div>							
		<div class="copy">
			<p>Thom is a constant professional with an unbelievable work ethic and in-depth front-end knowledge of scalable web application development. He has helped LBOX, LLC develop many successful flagship products in the past years. He could find solutions to complex challenging problems and was always aware of the bigger picture and how individual items in the product affected the whole. His pragmatic approach along with a strong understanding of cross-device usability design has made him an invaluable source for the team.</p></div>
		<div class="author">
			<div class="name"><span class="hvr-pop"><a href="https://www.linkedin.com/in/lingpossible/" target="_blank">Ling Lee</a></span></div>
			<div class="title">Sr. Marketing Manager, Analytics and Insights at Lunchbox</div>
		</div>
	</div>


	<div class="testionial-item">
		<div class="quote-icon"></div>							
		<div class="copy">
			<p>Thom's knowledge and experience helped us to deliver user friendly interfaces to our customers very quickly, keeping a clean, easy to understand and maintainable code base, he uses patterns and best practices in a daily basis; this is invaluable as time passes and code increases.</p>

			<p>He has also shown leadership by mentoring less experienced Front End Developers, guiding their efforts to uphold high quality standards. </p>

			<p>His communication skills are among his greatest assets; he is transparent, direct, respectful and trustworthy, he is the kind of person that will always dedicate a moment to help you when you have a question or a request. </p>

			<p>I believe these qualities make Thom's involvement in a project conducive to Team Work and high morale, I can highly recommend him .</p>
		</div>
		<div class="author">
			<div class="name"><span class="hvr-pop"><a href="https://www.linkedin.com/in/luis-stuart-matamoros-loria-16066b22/" target="_blank">Luis Stuart Matamoros Loria</a></span></div>
			<div class="title">Software Engineer at Prosoft contracted by Lunchbox</div>
		</div>
	</div>


	<div class="testionial-item">
		<div class="quote-icon"></div>							
		<div class="copy">
			<p>Thom has been a friend and mentor to me ever since I started at Lunchbox. He showed me the ropes, took me under his wing and helped me get acclimated with my new environment. He did this not because anyone told him to or because it was his job to do so, but because that's the type of person he is. When Thom is given ownership of a project, consider it done, he will manage expectations, delegate resources and make sure it's completed on time. He has a can-do attitude, knows how to work well with people and loves a good challenge. His work in the Innovations Department at Lunchbox has been nothing short of excellent. Thom would be an invaluable asset on any team.</p></div>
		<div class="author">
			<div class="name"><span class="hvr-pop"><a href="https://www.linkedin.com/in/zafarmehboob/" target="_blank">Zafar Mehboob</a></span></div>
			<div class="title">Web Developer at Lunchbox</div>
		</div>
	</div>


	<div class="testionial-item">
		<div class="quote-icon"></div>							
		<div class="copy">
			<p>I have had the pleasure of working with Thom for over 9 years and he is a great asset to any team. He is a strong developer and equally as strong in his artwork skills. He has created designs and software for some of the top pharma companies in the world as well as having 3D animations and motion graphics pieces show up on numerous media pieces from TV to video games. He is an accomplished professional and someone that can always be counted on for quality work. He is always hungry to learn new technologies and is quick to implement them into new projects. Thom is very talented and will boost the quality of work for any company he works for.</p></div>
		<div class="author">
			<div class="name"><span class="hvr-pop"><a href="https://www.linkedin.com/in/jarrodamcdevitt/" target="_blank">Jarrod McDevitt</a></span></div>
			<div class="title">Director of Animation at NuMedia Innovations Inc.<br> Digital Artist at Ballistic Pixel Lab</div>
		</div>
	</div>


	<div class="testionial-item">
		<div class="quote-icon"></div>							
		<div class="copy">
			<p>Every project Thom worked on was improved by his input. He has a talented creative eye and uses it well. Artists with his level of talent and enthusiasm are hard to find.</p></div>
		<div class="author">
			<div class="name"><span class="hvr-pop"><a href="https://www.linkedin.com/in/dworleyjr/" target="_blank">Donnie Worley</a></span></div>
			<div class="title">Owner / Co-Founder / Senior Creative Director of Ballistic Pixel Lab</div>
		</div>
	</div>


	<div class="backToTop" style="text-align:center;"><span class="anchor-trigger" data-anchor="top">Back to top.</span></div>

</div>