/* line 4, ../../scss/support/helper-classes.scss */
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 15, ../../scss/support/helper-classes.scss */
body, html {
  min-height: 100%;
}

/* line 24, ../../scss/support/helper-classes.scss */
a:link, a:visited, a:hover, a:active {
  outline: none;
}

/* line 34, ../../scss/support/helper-classes.scss */
body {
  -webkit-font-smoothing: antialiased;
}

/* line 38, ../../scss/support/helper-classes.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 42, ../../scss/support/helper-classes.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 47, ../../scss/support/helper-classes.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 52, ../../scss/support/helper-classes.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 57, ../../scss/support/helper-classes.scss */
.smallcaps {
  font-variant: small-caps;
}

/* line 63, ../../scss/support/helper-classes.scss */
.nowrap {
  white-space: nowrap;
}

/* line 68, ../../scss/support/helper-classes.scss */
.inline-block {
  display: inline-block;
}
