

// ---------------------------------------------------------------
//
// VARIABLES
//
// --------------------------------------------------------------- 
$imagePathPrefix: "../images/";
$globalImagePath: $imagePathPrefix + "global/";

@mixin mainFont
{
	font-family: sans-serif;
}

// responsive
// set your max document width
$responsive-max-width: 640;
@function mix-responsivePercentage($n)
{
	@return percentage($n / $responsive-max-width);	
}


// ---------------------------------------------------------------
//
// CSS
//
// --------------------------------------------------------------- 


// ----------------------------------
// fonts
// ----------------------------------
@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url(./fonts/OpenSans-ExtraBold.ttf);
}


.font-verdana {
	font-family: Verdana, Geneva, sans-serif;
}

.font-arial-black {
	font-family: "Arial Black", "OpenSans-ExtraBold", "Arial Bold", Gadget, sans-serif;
}

// ----------------------------------
// main tags
// ----------------------------------
html,
body
{	
	background-color : white;
	color            : block;
	@include mainFont;	
}

// link
$linkColor: blue;
a
{
	&:link,
	&:visited,
	&:hover,
	&:active
	{
		color: $linkColor;
	}

	&:active
	{
		// gives the link a press state
		margin-top: 1px;
	}

}



// ----------------------------------
// global assets
// ----------------------------------
.button
{
	text-align       : center;
	background-color : gray;
	color            : white;
	font-weight      : bold;
	padding-top      : 10px;
	padding-bottom   : 10px;
	cursor           : hand;
	cursor           : pointer;
	z-index          : 1;
	position         : relative;
}

.italic {
	font-style: italic;
}

.anchor-trigger {
	cursor: pointer;
	cursor: hand;
}

.backToTop{
	font-style: italic;
	color: #999;
	text-align: right;
	font-size: 13px;
	clear: both;
    padding-top: 30px;
}


.testionial-item {

		border: 1px solid #ccc;
		padding: 20px;
		
		max-width: 850px;
	    margin-left: auto;
	    margin-right: auto;
	    padding-right: 50px;
		padding-left: 50px;
		padding-bottom: 35px;
		margin-bottom: 40px;
		background-color: #f9f9f9;
	    /* RGBa with 0.6 opacity */
	    background-color: rgba(236, 236, 236, 0.4);
	    

		.quote-icon {
			background-image: url("../images/global/quote-icon.png");
			width: 34px;
			height: 31px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.author {
		    text-align: center;
		    margin-top: 30px;

			.name {
				font-weight: bold;
			    font-size: 18px;
			    color: #555;	

			    a {
					&:link,
					&:visited,
					&:hover,
					&:active
					{
						color: #555;
					}
				}

			}

			.title {
				color: #777;
				font-size: 12px;
			}
		}

		.copy {
			text-align: center;
		}

	}

// ----------------------------------
// header
// ----------------------------------

.wrapper {
	width: 100%;
	position: relative;	
	background-color: #777;
	background-image: url("../images/global/canvas.jpg");
	background-repeat: repeat;
	display: inline-block;
	padding-bottom: 60px;

}

.constrain {
	top: 20px;
	box-sizing: border-box;
	background-color: white;
	max-width: 1024px;
	position: relative;	
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	padding-left: 40px;
	padding-right: 40px;
	height: 100%;
	-webkit-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.75);

	background-image: url("../images/global/paper.jpg");
	@media only screen and (max-width : 750px){		
		padding-left: 15px;
    	padding-right: 15px;
	}
}


.content {
	display: inline-block;
}


header {
	text-align: center;

	h2 {
		margin-top: 0px;
		color: #903d3b;
	}

	.contact {
		font-size: 13px;
	    color: #777;
	    text-align: center;
	    margin-top: 20px;

		a {
			&:link,
			&:visited,
			&:hover,
			&:active
			{
				color: #777;
			}
		}

		.space-me {
			padding-right: 10px;
			padding-left: 10px;
		}

	}

	.header-nav {
		margin-top: 20px;
	    padding-top: 10px;
	    font-size: 18px;
	    margin-left: -15px;
	    margin-right: -15px;
	    padding-left: 15px;
	    padding-right: 15px;

	

	    a {
			&:link,
			&:visited,
			&:hover,
			&:active
			{
				color: #777;
				text-decoration: none;
			}
		}

		.nav-button-spacer {
			padding-bottom: 10px;
    		display: inline-block;
    		padding-left: 6px;
    		padding-right: 4px;
		}

		.active {
		    pointer-events: none;
		    color: #903d3b;
		    font-size: 25px;
		    margin-top: -5px;


		    a {
				&:link,
				&:visited,
				&:hover,
				&:active
				{
					color: #903d3b;
				}
			}

			&:after { 
				
			    /* pointer-events: none;
			    position: absolute;
			    z-index: -1;
			    content: '';
			    top: 100%;
			    left: 5%;
			    height: 10px;
			    width: 90%;
			    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.20) 0%, transparent 80%);
    			background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0) 80%); */ 
			}

		}

		@media only screen and (max-width : 550px){		
			.nav-button-spacer {
				display: none;
			}
			.nav-button {
				margin-right: 9px;
    			margin-bottom: 10px;
			}

			&.header-nav {
				background-color: rgba(236, 236, 236, 0.4);
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				padding-top: 15px;
    			padding-bottom: 10px;
			}

			.active {
				margin-top: -2px;
			}
		}

	}
}

main {
	margin-top: 30px;

	.summary {
		padding-top: 25px;
	    padding-bottom: 25px;
	    color: #999;
	    border-top: 1px solid #ccc;
	    border-bottom: 1px solid #ccc;
	    margin-top: 30px;
	    margin-bottom: 40px;
	    max-width: 800px;
	    margin-left: auto;
	    margin-right: auto;
	    padding-left: 40px;
	    padding-right: 40px;
	    font-size: 17px;
	    text-align: center;
	    line-height: 1.5;

	    @media only screen and (max-width : 750px){		
			padding-left: 0px;
	    	padding-right: 0px;
		}

		.ul-block {
			max-width: 600px;
		    text-align: left;
		    margin-left: auto;
		    margin-right: auto;
		    margin-top: 20px;
		    list-style: disc outside none;
    		padding-left: 20px;
		    font-size: 14px;

		    li {
		    	padding-bottom: 10px;
		    }

		}
	}
}

@media only screen and (max-width : 550px){	
	.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
	  -webkit-transform: translateY(-2px);
	  transform: translateY(-2px);
	}

	.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
		-webkit-transform: translateY(2px);
		transform: translateY(2px);
	}
}

// ---------------------------------------------------------------
//
// MOBILE
//
// --------------------------------------------------------------- 

/* 
	min-width: 320px  // smartphones, iPhone, portrait 480x320 phones
	min-width: 481px  // portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.
	min-width: 641px  // portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 and 854x480 phones
	min-width: 961px  // tablet, landscape iPad, lo-res laptops ands desktops
	min-width: 1025px // big landscape tablets, laptops, and desktops
	min-width: 1281px // hi-res laptops and desktops

	@media only screen and (max-width: 600px) 
	{	


	}	
	
	// EXAMPLES

	// Smartphones (portrait and landscape) -----------
	@media only screen 
	and (min-device-width : 320px) 
	and (max-device-width : 480px) {	
	}

	// Smartphones (landscape) -----------
	@media only screen 
	and (min-width : 321px) {
	}

	// Smartphones (portrait) ----------
	@media only screen 
	and (max-width : 320px) {
	}

	// iPads (portrait and landscape) ----------- 
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) {
	}

	// iPads (landscape) -----------
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : landscape) {
	}

	// iPads (portrait) -----------
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : portrait) {
	}

	// Desktops and laptops -----------
	@media only screen 
	and (min-width : 1224px) {
	}

	// Large screens ----------- 
	@media only screen 
	and (min-width : 1824px) {
	}

	// iPhone 4 -----------
	@media
	only screen and (-webkit-min-device-pixel-ratio : 1.5),
	only screen and (min-device-pixel-ratio : 1.5) {	
	}
 */



